<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/javascripts/style.js"></script>
    
  </head>
  <body>
    <!-- <h1><%= title %></h1> -->
   
<div class="login-reg-panel">
  
  <div class="login-info-box">
    
    <label id="label-register" for="log-reg-show">Login</label>
    <input type="radio" name="active-log-panel" id="log-reg-show"  checked="checked">
  </div>
            
  <div class="register-info-box">
    <%if(msg!=''){%>
      <%= msg %>
      <%}%>
    <h2>Login?</h2>
    <p>Login in here!!!</p>
    <label id="label-login" for="log-login-show"><a href="/">Login</a></label>
    <input type="radio" name="active-log-panel" id="log-login-show">
  </div>
            
  <div class="white-panel">
    <div class="login-show">
        <h2>Register</h2>
        <form method="POST" action="/signup">
      <input type="text" placeholder="User Name" name="uname">
      <input type="password" placeholder="Password" name="pass">
      <input type="password" placeholder="Confirm Password"  name="cpass">
      <input id="label-login" for="log-login-show" type="submit" value="Register">
        </form>
    </div>
  </div>
</div>  </body>
</html>
